body {
     font-family: Arial, sans-serif;
     text-align: center;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
}

h1 {
    background-color: #3498db;
    color: white;
    padding: 20px;
}

form {
     max-width: 600px;
     margin: 0 auto;
     padding: 20px;
     background-color: #fff;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
      display: block;
      margin-bottom: 10px;
}

textarea,
input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
}

button {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
}

button:hover {
             background-color: #2574a9;
}

#scrambledContent {
                  margin-top: 20px;
}
